@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 51%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 a {
  margin-left: 9px;
  color: #2F2E2E;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hamburger { display: none; }

.header-right { 
  display: flex; 
  justify-content: space-between;
}

.menu { margin-right: 25px; }

.menu a {
  margin-right: 18px;
  color: #B6C4D5;
  font-size: 9px;
  text-transform: uppercase;
}

.menu a:hover, .menu .active {
  color: #2F2E2E;
  transition: .3s ease-in-out;
}

.social a {
  margin-left: 5px;
  color: #000;
  font-size: 14px;
  text-indent: -9999px;
}

.social a:hover { 
  color: #A0A09F; 
  transition: .3s ease-in-out;
}

.social li:first-child a::before {
  content: "\f09a";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(2) a::before {
  content: "\f099";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(3) a::before {
  content: "\f231";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(4) a::before {
  content: "\f16d";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main { background-color: #F2F2F2; }

.banner { 
  margin-bottom: 60px;
  display: flex; 
}

.banner figure, .banner-right { flex-basis: 50%; }

.banner-right {
  background-color: #fff;
  text-align: center;
}

.banner-right h2 { 
  margin: 75px 0 25px; 
}

.banner-right a {
  width: 85px;
  color: #2F2E2E;
  font-size: 9px;
  letter-spacing: 3px;
  line-height: 13px;
  text-decoration: underline;
  text-transform: uppercase;
}

.banner-right p {
  padding: 0 14%;
  color: #2F2E2E;
  font-size: 20px;
  font-weight: bold;
}

.banner-right p span { text-transform: capitalize; }

.healty-food {
  margin-bottom: 30px;
  display: flex;
  text-align: center;
}

.healty-food li { position: relative; }

.healty-food-content {
  padding: 20px 12%; 
  margin: 0 6%;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  background-color: #fff;
}

.healty-food-content a {
  margin-bottom: 7px;
  color: #2F2E2E;
  font-size: 9px;
  letter-spacing: 3px;
  line-height: 13px;
  text-decoration: underline;
  text-transform: uppercase;
}

.healty-food-content span {
  color: #2F2E2E;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.main-articles { 
  display: flex; 
  justify-content: space-between;
}

.articles-left { flex-basis: 66.4%; }
.articles li { margin-bottom: 46px; }

.article-content {
  padding: 30px 32px 28px;
  background-color: #fff;
}

.article-content figure {
  width: 24px;
  margin-right: 5px;
  display: inline-block;
  float: left;
}

.article-content figure img { border-radius: 50%; }

.profile { margin-bottom: 20px; }

.profile span {
  font-size: 9px;
  text-transform: capitalize;
}

.profile span:first-of-type { 
  margin-bottom: -7px;  
  display: block; 
}

.profile span:last-of-type { 
  margin-left: 2px; 
  color: #6D6C6C;
}

.profile span:last-of-type::before {
  content: "\f111";
  margin-right: 5px;
  font-family: fontAwesome;
  font-size: 3px;
}

.blog { 
  border-bottom: 1px solid #DFDFDF; 
  margin-bottom: 10px;
}

.blog h4 {
  color: #2F2E2E;
  margin-bottom: 10px;
  font-weight: bold;
}

.blog h4::first-letter { text-transform: capitalize; }

.blog p {
  margin-bottom: 10px;
  color: #444141;
  font-size: 9px;
  line-height: 15px;
}

.views { display: inline-block; }

.views span {
  color: #8E8A8A;
  font-size: 9px;
}

.article-content a {
  float: right;
  color: red;
  font-size: 12px;
  text-indent: -9999px;
}

.article-content a::before {
  content: "\f08a";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

.article-content a:hover::before { content: "\f004"; }

.more-posts {
  width: 101px;
  padding: 10px 0;
  margin-bottom: 27px;
  display: block;
  background-color: #2F2E2E;
  color: #fff;
  font-size: 9px;
  text-align: center;
  text-transform: capitalize;
}

.back-to-top {
  margin: 0 0 15px 10px;
  width: 25px;
  text-align: center;
  text-indent: -9999px;
  transform: rotate(-90deg);
}

.back-to-top img {
  float: left;
  text-indent: 0;
}

.aside { 
  flex-basis: 31.7%; 
  text-align: center;
}

.aside figure { margin-bottom: 13px; }

.about-me {
  padding: 30px 15px 30px;
  margin-bottom: 25px;
  background-color: #fff;
}

.about-me h5 {
  margin-bottom: 15px;
  color: #2F2E2E;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.about-me p {
  margin-bottom: 19px;
  color: #2F2E2E;
  font-size: 9px;
  line-height: 15px
}

.about-me span {
  padding: 0 10%;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
  text-transform: capitalize;
}

.email input {
  width: 90%;
  padding: 10px;
  border-style: none;
  border-bottom: 2px solid #BEBDBD;
  margin-bottom: 10px;
  background-color: transparent;  
  color: #2F2E2E;
  font-size: 9px;
}

form > input {
  width: 100%;
  padding: 8px 0;
  border-style: none;
  background-color: #2F2E2E;
  color: #fff;
  font-size: 9px;
  text-transform: capitalize;
}

.aside > span {
  margin-bottom: 12px;
  display: block;
  color: #2F2E2E;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  position: relative;
  background-color: #E9E9E9; 
}

footer .wrapper { 
  padding: 12px 0 15px; 
  display: flex;
  justify-content: space-between;
}

footer .wrapper > p {
  color: #2F2E2E;
  font-size: 9px;
}

footer .wrapper > p span { text-transform: uppercase; }

footer .wrapper > p a {
  color: #2F2E2E;
  text-decoration: underline;
  text-transform: capitalize;
}

footer .wrapper > p a:hover { 
  color: #6D2424; 
  transition: 0.3s ease-in-out;
}

.footer-right { 
  display: flex; 
  justify-content: space-between;
}

.lets-chat {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
}

.lets-chat a {
  padding: 10px 10px 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #DEB940;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.lets-chat a::before {
  content: "\f118";
  margin-right: 5px;
  font-family: fontAwesome;
  font-size: 20px;
}

.lets-chat a::after {
  content: "\f106";
  margin-left: 115px;
  float: right;
  font-family: fontAwesome;
}



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  